.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #142768;
   color: white;
   text-align: center;
}
body {
  background-image: url('logo bri/opening.png');
 background-repeat: no-repeat;
  background-size: cover;
   height: 100%;
  background-color:linen;
}
h1{
  text-align: center;
  color: white;
  font-family: 'Acme', sans-serif;
  font-size: 72px;
  background-color: gray;
  border-style: ridge;
}
#navbar{
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
}

#navbar a {
  font-family: 'Acme', sans-serif;
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navbar a:hover{
  color: blue;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 0px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.grid-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  margin-right: 10%:
  display: grid;
  grid-template-columns: 15% 15%  15%  15%  15%  15% ;
  padding: 5px;
}
.grid-item {
  font-family: 'Acme', sans-serif;
  color: white;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}
/* * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
/* .column {
  color: white;
  display: flex;
  justify-content: center;
  float: left;
  width: 33.33%;
  padding: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom:10%;
} */ */
  @media screen and (max-width: 600px) {
    .grid-item {
      width: 100%;
    }
  @media screen and (max-width: 992px) {
.grid-item{
  width: 50%;
}
